/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

.html {
   margin: 0;
   padding: 0;
}
/* :root, .theme-light {
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
  --color-brand: #1E40AF;
  --color-success: #154d3f;
  --color-warning: #B45309;
  --color-error: #B91C1C;
  --color-border: #E2E8F0; 
}

.theme-dark {
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-text-primary: #F8FAFC;
  --color-text-secondary: #94A3B8;
  --color-brand: #38BDF8;
  --color-success: #2DD4BF;
  --color-warning: #F59E0B;
  --color-error: #F87171;
  --color-border: #334155;
}

.theme-hc {
  --color-background: #000000;
  --color-surface: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #FFFF00;
  --color-brand: #00FFFF;
  --color-success: #00FF00;
  --color-warning: #FF9900;
  --color-error: #FF00FF;
  --color-border: #FFFFFF;
} */